In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel(r"Sample B2C Dataset EDA.xlsx")
df.head()

,Week,Product ID,Category,Product Name,Price,Competitor Price,Pricing Currency,Sales Volume,Advertising Spend (EUR),Customer Reviews,Weather Index,Social Media Mentions,Warehouse Stock Level,Market Share Rank
0,2023-05-16 10:23:19.382,1,Electronics,Mobile Phone,487.45,509.42,EUR,65.0,3793.97,3.4,5,16,4079,1
1,2023-05-16 10:23:19.382,2,Electronics,Bluetooth Headphones,156.66,163.53,EUR,974.0,503.50,4.4,5,51,2072,3
2,2023-05-16 10:23:19.382,3,Electronics,Tablet,283.97,272.34,EUR,74.0,3282.74,4.1,5,62,2917,5
3,2023-05-16 10:23:19.382,4,Clothing,Luxury Jacket,435.91,456.21,EUR,686.0,4137.79,4.4,4,115,2208,1
4,2023-05-16 10:23:19.382,5,Clothing,Casual T-Shirt,30.66,31.68,EUR,193.0,1280.14,3.4,4,140,1122,4

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1040 entries, 0 to 1039
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Week                     1040 non-null   datetime64[ns]
 1   Product ID               1040 non-null   int64
 2   Category                 1040 non-null   object
 3   Product Name             1040 non-null   object
 4   Price                    1040 non-null   float64
 5   Competitor Price         1040 non-null   float64
 6   Pricing Currency         1040 non-null   object
 7   Sales Volume             1023 non-null   float64
 8   Advertising Spend (EUR)  1020 non-null   float64
 9   Customer Reviews         1034 non-null   float64
 10  Weather Index            1040 non-null   int64
 11  Social Media Mentions    1040 non-null   int64
 12  Warehouse Stock Level    1040 non-null   int64
 13  Market Share Rank        1040 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(5), object(3)
memory usage: 113.9+ KB

In [4]:
df.describe()

,Week,Product ID,Price,Competitor Price,Sales Volume,Advertising Spend (EUR),Customer Reviews,Weather Index,Social Media Mentions,Warehouse Stock Level,Market Share Rank
count,1040,1040.000000,1040.000000,1040.000000,1023.000000,1020.000000,1034.000000,1040.000000,1040.000000,1040.000000,1040.000000
mean,2024-05-10 22:23:19.381999872,5.500000,2096.245673,2139.305558,494.318671,2696.952343,3.967795,4.517308,96.100962,2507.253846,3.500000
min,2023-05-16 10:23:19.382000,1.000000,-8704.800000,26.280000,10.000000,503.230000,0.000000,1.000000,0.000000,0.000000,1.000000
25%,2023-11-12 16:23:19.382000128,3.000000,295.677500,298.775000,246.500000,1580.265000,3.600000,3.000000,28.000000,1789.000000,1.000000
50%,2024-05-10 22:23:19.382000128,5.500000,543.205000,629.960000,488.000000,2678.565000,4.000000,4.000000,66.500000,2506.500000,3.500000
75%,2024-11-07 04:23:19.382000128,8.000000,3948.200000,3994.500000,740.500000,3789.760000,4.300000,7.000000,137.000000,3173.000000,5.000000
max,2025-05-06 10:23:19.382000,10.000000,8769.600000,9143.600000,1115.000000,4993.780000,6.000000,10.000000,585.000000,5000.000000,7.000000
std,NaN,2.873663,2565.831815,2546.464378,287.362151,1294.663830,0.618055,2.293584,93.524437,1039.184298,2.110517

In [6]:
df.duplicated().sum()

0

In [3]:
df.isna().sum()

Week                        0
Product ID                  0
Category                    0
Product Name                0
Price                       0
Competitor Price            0
Pricing Currency            0
Sales Volume               17
Advertising Spend (EUR)    20
Customer Reviews            6
Weather Index               0
Social Media Mentions       0
Warehouse Stock Level       0
Market Share Rank           0
dtype: int64

In [4]:
df.dropna(inplace = True)

In [6]:
df['Advertising Spend (EUR)'].corr(df['Sales Volume'], method = 'spearman' )

-0.02439454603104962

In [7]:
df['Customer Reviews'].corr(df['Sales Volume'], method = 'spearman' )

-0.0309434258081907