In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_excel(r"Sample B2C Dataset EDA.xlsx")
df.head()

,Week,Product ID,Category,Product Name,Price,Competitor Price,Pricing Currency,Sales Volume,Advertising Spend (EUR),Customer Reviews,Weather Index,Social Media Mentions,Warehouse Stock Level,Market Share Rank
0,2023-05-16 10:23:19.382,1,Electronics,Mobile Phone,487.45,509.42,EUR,65.0,3793.97,3.4,5,16,4079,1
1,2023-05-16 10:23:19.382,2,Electronics,Bluetooth Headphones,156.66,163.53,EUR,974.0,503.50,4.4,5,51,2072,3
2,2023-05-16 10:23:19.382,3,Electronics,Tablet,283.97,272.34,EUR,74.0,3282.74,4.1,5,62,2917,5
3,2023-05-16 10:23:19.382,4,Clothing,Luxury Jacket,435.91,456.21,EUR,686.0,4137.79,4.4,4,115,2208,1
4,2023-05-16 10:23:19.382,5,Clothing,Casual T-Shirt,30.66,31.68,EUR,193.0,1280.14,3.4,4,140,1122,4

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1040 entries, 0 to 1039
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Week                     1040 non-null   datetime64[ns]
 1   Product ID               1040 non-null   int64
 2   Category                 1040 non-null   object
 3   Product Name             1040 non-null   object
 4   Price                    1040 non-null   float64
 5   Competitor Price         1040 non-null   float64
 6   Pricing Currency         1040 non-null   object
 7   Sales Volume             1023 non-null   float64
 8   Advertising Spend (EUR)  1020 non-null   float64
 9   Customer Reviews         1034 non-null   float64
 10  Weather Index            1040 non-null   int64
 11  Social Media Mentions    1040 non-null   int64
 12  Warehouse Stock Level    1040 non-null   int64
 13  Market Share Rank        1040 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(5), object(3)
memory usage: 113.9+ KB